instance-id: webProxy
local-hostname: webProxy
network:
  version: 2
  ethernets:
    ens192:
      dhcp4: false
      addresses:
        - ${primary_static_ip.ip_address}/${primary_static_ip.netmask}  # CIDR notation
      nameservers:
        addresses: ${jsonencode(dns_servers)}
        search: ["ad.kg-tech.rocks"]
      routes:
        - to: default
          via: ${default_gateway}